body {
  margin: 0;
  width: 100%;
  font-family: 'Spartan', sans-serif;
  font-size: 12px;
}

p {
  color: hsl(0, 0%, 63%);
  font-weight: 600;
  line-height: 1.6;
  opacity: 0.7;
  margin: 7% 0;
}

h1 {
  font-weight: 600;
  font-family: 'Spartan', sans-serif;
  font-size: 2.3rem;
  margin-bottom: 6%;
}

h2 {
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 3px;
}

.column_1 {
  position: relative;
}

.column_2 {
  position: relative;
  padding:8% 7%;
}
.column_3 , .column_4{
  display:none;
  position: relative;
  padding:8% 7%;
}

/* --------------------------- */

/* Navigation bar section */
.navbar {
  padding: 6% 4%;
  width:100%;
}

.nav-item {
  padding-left: 8%;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: hsl(0, 0%, 100%);
  position:relative;
  font-weight: 600;
  padding-bottom: 8px;
  opacity: 0.7;
}

.nav-link:hover::before {
  content: "";
  position: absolute;
  display: block;
  width: 25%;
  height: 0.125rem;
  bottom: 0;
  left: 1.2rem;
  background-color: hsl(0, 0%, 100%);
}

.close-icon {
  display: none;
}

/* --------------------------- */


.bg-1{
  background-image: url("images/desktop-image-hero-1.jpg");
    background-size:100% 100%;

}
.bg-2{
  background-image: url("images/desktop-image-hero-2.jpg");
    background-size:100% 100%;
}
.bg-3{
  background-image: url("images/desktop-image-hero-3.jpg");
    background-size:100% 100%;
}

/* Shop button */
.shop {
  letter-spacing: 10px;
  color: hsl(0, 0%, 0%);
  text-decoration: none;
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  opacity:0.7;
}

.shop:hover {
  color: hsl(0, 0%, 63%);
}

.shop::after {
  content: url("images/icon-arrow.svg");
  display: inline-block;
  opacity: 0.7;
}

/* Navigation Arrows */
.right-arrow-desktop {
  padding: 4% 5%;
  background-color: hsl(0, 0%, 0%);
  position: absolute;
  left: 12%;
  bottom:0;
}

.left-arrow-desktop {
  padding: 4% 5%;
  background-color: hsl(0, 0%, 0%);
  position: absolute;
  left: 0;
  bottom: 0;
}

.right-arrow-desktop:hover,
.left-arrow-desktop:hover {
  background-color: hsl(0, 0%, 27%);
  cursor: pointer;
}

.left-arrow-mobile, .right-arrow-mobile {
  display: none;
}

/* About section */
.about-image {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit:fill;
}

.about {
  padding:5% 2% ;
}

/* Media Query */

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.7rem;
  }
p{
  padding-bottom:10%;
}
  .column_1{
    height: 350px;
  }

  .column_2 {
    padding: 20% 12%;
  }
  .column_3,.column_4{
    display:none;
    padding: 20% 12%;
  }
  .navbar{
    padding:10% 0;
    width:100%;
  }

  .navbar-toggler {
    border:none;
  }
  .navbar-click{
    background-color:hsl(0, 0%, 100%);
  }
  .navbar-nav{
    flex-direction:row;
    position:absolute;
    top:40%;
    left:20%;
  }
  .nav-item{
  vertical-align:middle;
  padding-left:20%;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    color:hsl(0, 0%, 0%);
  }

  .brand-icon{
    position:absolute;
    left:40%;
  }

  .bg-1{
    background-image: url("images/mobile-image-hero-1.jpg");
    background-size: 100% 100%;
  }
  .bg-2{
    background-image: url("images/mobile-image-hero-2.jpg");
    background-size: 100% 100%;
  }
  .bg-3{
    background-image: url("images/mobile-image-hero-3.jpg");
    background-size: 100% 100%;
  }
  .left-arrow-desktop, .right-arrow-desktop {
    display: none;
  }

  .left-arrow-mobile {
    display: block;
    padding: 4% 5%;
    background-color: hsl(0, 0%, 0%);
    position: absolute;
    right: 12.6%;
    bottom: 0;
  }

  .right-arrow-mobile {
    display: block;
    padding: 4% 5%;
    background-color: hsl(0, 0%, 0%);
    position: absolute;
    right:0;
    bottom: 0;
  }

  .right-arrow-mobile:hover,
  .left-arrow-mobile:hover {
    background-color: hsl(0, 0%, 27%);
    cursor: pointer;
  }

  .about {
    padding:15% 12% 4%;
  }
  .about-image{
    width:100%;
    height:100%;
  }
}
